---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Countdown from '../components/Countdown.astro';
import Announcements from '../components/Announcements.astro';
import Gallery from '../components/Gallery.astro';
import About from '../components/About.astro';
---

<Layout title="Fiestas de San Roque en Arobes">
	<main>
    <Hero />
    <Countdown />
    <Announcements />
    <Gallery />
    <About />
  </main>
</Layout>